body {
    background-color: rgb(8, 8, 83);
    margin: 0;
}

h1, p, h2, a {
    color: rgb(152, 235, 29);
}

img { 
    width: 600px;
    border-radius: 10px;
}

h1, nav {
    text-align: center;
}

nav {
    background-color: rgb(4, 4, 39)
}