body {
    background-color: rgb(8, 8, 83);
    margin: 0;
}

h1, p, h2, a, figcaption {
    color: rgb(152, 235, 29);
}

img { 
    width: 600px;
    border-radius: 10px;
}

h1, nav, footer {
    text-align: center;
}

nav, footer {
    background-color: rgb(6, 6, 66)
}

video {
    width: 600px;
    border-radius: 10px;
}

h1 {
    margin-top: auto;
    margin-bottom: auto;
}

header {
    background-color: rgb(6, 6, 55)
}